<div class="d-flex align-items-center justify-content-center">
  <h5 class="f fw-bold mt-5 mb-4">register into your account</h5>
</div>
<div class="form-group">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-4 col-12 pt-3">
      <label>Nome</label>
      <input formControlName="nome" class="form-control" placeholder="Digite seu nome">
    </div>
    <div class="mb-2 col-12">
      <label>E-mail</label>
      <input formControlName="email" class="form-control" placeholder="Digite o email">
    </div>
    <div class="mt-2 pb-2 col-12 pt-3">
      <label>senha</label>
      <input formControlName="password" class="form-control" placeholder="Digite a senha">
    </div>
    <hr >
    <div class=" col-12 pt-2">
      <button type="submit"  class="w-100 btn btn-outline-info">Registrar</button>
    </div>
  </form>
</div>
